RewriteEngine On

#Redirect traffic
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://neuropol.pl/$1 [R,L]

#Rewrite pages to flat structure

RewriteRule ^not-found$ pages/not-found/index.html [L]
RewriteRule ^strona-glowna$ pages/home/index.html [L]
RewriteRule ^o-nas$ pages/about/index.html [L]
RewriteRule ^nasi-specjalisci$ pages/staff/index.html [L]
RewriteRule ^uslugi$ pages/services/index.html [L]
RewriteRule ^kontakt$ pages/contact/index.html [L]
RewriteRule ^szkolenia$ pages/trainings/index.html [L]
RewriteRule ^$ pages/home/index.html [L]

#Friendly urls

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ $1.html [L, QSA]

#Safely get image data
<FilesMatch "\.(?i:jpg|gif|png)$">
  Header set Content-Disposition attachment
</FilesMatch>

# ERRORS HANDLING
ErrorDocument 404 https://neuropol.pl/not-found

#! USE TO DISABLE PAGE
#RewriteRule .? - [F]